<%# Permissions Badge Partial %>
<%# Usage: include('../partials/permissions-badge', { permissions: apiKey.permissions }) %>

<% if (permissions === 'read') { %>
    <span class="badge-primary">
        <i class="fas fa-eye mr-1" aria-hidden="true"></i>
        <span class="hidden sm:inline">Read Only</span><span class="sm:hidden">Read</span>
    </span>
<% } else if (permissions === 'write') { %>
    <span class="badge-warning">
        <i class="fas fa-edit mr-1" aria-hidden="true"></i>
        <span class="hidden sm:inline">Write Only</span><span class="sm:hidden">Write</span>
    </span>
<% } else { %>
    <span class="badge-success">
        <i class="fas fa-check-circle mr-1" aria-hidden="true"></i>
        <span class="hidden sm:inline">Read & Write</span><span class="sm:hidden">R&W</span>
    </span>
<% } %>