<!-- Path: /views/layouts/main.ejs -->
<%- include('../partials/header', { 
    title: typeof title !== 'undefined' ? title : 'Organization Management',
    includeChartJS: typeof includeChartJS !== 'undefined' ? includeChartJS : false
}) %>
<%- include('../partials/navigation', { 
    activeMenu: typeof activeMenu !== 'undefined' ? activeMenu : '',
    user: typeof user !== 'undefined' ? user : null
}) %>

<!-- Main Content -->
<main class="flex-1 bg-white performance-mode">
    <div class="container mx-auto px-4 lg:px-6 py-4 lg:py-6">
        <%- typeof body !== 'undefined' ? body : '' %>
    </div>
</main>

<%- include('../partials/footer', {
    pageScripts: typeof pageScripts !== 'undefined' ? pageScripts : null
}) %>