<!-- Path: /views/divisions/index.ejs -->
<%- include('../partials/header', { 
    title: 'Divisions',
    includeChartJS: false
}) %>
<%- include('../partials/navigation', { 
    activeMenu: 'divisions',
    user: typeof user !== 'undefined' ? user : null,
    success: typeof success !== 'undefined' ? success : null,
    error: typeof error !== 'undefined' ? error : null,
    warning: typeof warning !== 'undefined' ? warning : null,
    info: typeof info !== 'undefined' ? info : null
}) %>

<!-- Main Content -->
<main class="flex-1 py-8">
    <%- include('./content') %>
</main>

<%- include('../partials/footer', {
    pageScripts: null
}) %>