<%- include('../partials/header', { 
    title: 'Companies',
    includeChartJS: false
}) %>
<%- include('../partials/navigation', { 
    activeMenu: 'companies',
    user: typeof user !== 'undefined' ? user : null
}) %>

<!-- Main Content -->
<main class="flex-1 py-8">
    <div class="mx-auto max-w-full px-4 sm:px-6 lg:px-8">
        <%- include('./content', { 
            companies: typeof companies !== 'undefined' ? companies : [],
            pagination: typeof pagination !== 'undefined' ? pagination : {},
            filters: typeof filters !== 'undefined' ? filters : {}
        }) %>
    </div>
</main>

<%- include('../partials/footer', {
    pageScripts: null
}) %>